# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
chroma_db/
models/
*.pkl
logs/
/data/

data/*
chroma_db/*
__pycache__/